[user]
	name = Jeffrey Fei
        email = jeffreyfei@msn.com

[alias]
        graph = log --pretty='%Cred%h%Creset | %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset' --graph --all
        cma = commit --all -m
        worddiff = diff --word-diff --unified=10
        stashall = stash save --keep-index --include-untracked
	amendhead = commit --amend -C HEAD
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
[diff]
	algorithm = histogram
